{{- if eq .Severity.String "critical" -}}
    {{"\n"}}{{"=====================================================" | bold | magenta -}}
    {{"\n"}}{{.Severity.String | upper | bold | magenta -}}
    {{"\n"}}{{"=====================================================" | bold | magenta -}}
{{- else if eq .Severity.String "high" -}}
    {{"\n"}}{{"=====================================================" | bold | red -}}
    {{"\n"}}{{- .Severity.String | upper | bold | red -}}
    {{"\n"}}{{"=====================================================" | bold | red -}}
{{- else if eq .Severity.String "medium" -}}
    {{"\n"}}{{"=====================================================" | bold | yellow -}}
    {{"\n"}}{{.Severity.String | upper | bold | yellow -}}
    {{"\n"}}{{"=====================================================" | bold | yellow -}}
{{- else if eq .Severity.String "low" -}}
    {{"\n"}}{{"=====================================================" | bold | cyan -}}
    {{"\n"}}{{.Severity.String | upper | bold | cyan -}}
    {{"\n"}}{{"=====================================================" | bold | cyan -}}
{{- else -}}
    {{"\n"}}{{"=====================================================" | bold -}}
    {{"\n"}}{{.Severity.String | upper | bold -}}
    {{"\n"}}{{"=====================================================" | bold -}}
{{- end -}}
{{"\n"}}{{"TARGET:" | bold}}
{{.CheckData.Target -}}
{{$affectedResource:= .AffectedResourceString -}}
{{- if not $affectedResource -}}
    {{$affectedResource = .AffectedResource -}}
{{- end -}}
{{- if $affectedResource -}}
    {{"\n"}}{{"\n"}}{{"AFFECTED RESOURCE:" | bold -}}
    {{"\n"}}{{$affectedResource}}
{{- end -}}
{{"\n"}}{{"\n"}}{{"SUMMARY:" | bold -}}
{{"\n"}}{{.Summary -}}
{{"\n"}}{{"\n"}}{{"DESCRIPTION:" | bold -}}
{{"\n"}}{{.Description}}
{{- if .Details -}}
    {{"\n"}}{{"\n"}}{{"DETAILS:" | bold -}}
    {{"\n"}}{{.Details}}
{{- end -}}
{{- if .ImpactDetails -}}
    {{"\n"}}{{"\n"}}{{"IMPACT:" | bold -}}
    {{"\n"}}{{ .ImpactDetails}}
{{- end -}}
{{- if gt (len .Recommendations) 0 -}}
    {{"\n"}}{{"\n"}}{{"RECOMMENDATIONS:" | bold -}}
    {{- range .Recommendations -}}
        {{"\n"}}- {{.}}
    {{- end -}}
{{- end -}}
{{- if gt (len .References) 0 -}}
    {{"\n"}}{{"\n"}}{{"REFERENCES:" | bold -}}
    {{- range .References -}}
        {{"\n"}}- {{.}}
    {{- end -}}
{{- end -}}
{{- if gt (len .Resources) 0 -}}
    {{- range $resource := .Resources -}}
        {{"\n"}}{{"\n"}}{{.Name | bold -}}:
        {{- $headers := .Header -}}
        {{- range $row := .Rows -}}
            {{- range $header := $headers -}}
                {{"\n"}}{{$header | bold}}: {{index $row $header -}}
            {{- end -}}
            {{"\n"}}
        {{- end -}}
    {{- end -}}
{{- end -}}
